# Library for memory profiling
memory-profiler==0.61.0  

# Library for interacting with Google BigQuery
google_cloud_bigquery==3.20.1   

# Library for line-by-line code profiling
line_profiler==4.1.2  
